.text_muted {}
.text_primary {color: @brand-primary;}
.text_success {color: @brand-success;}
.text_info {color: @brand-info;}
.text_warning {color: @brand-warning;}
.text_danger {color: @brand-danger;}
.text_white {color: #fff;}

.bg_primary {background-color: @brand-primary;}
.bg_success {background-color: @brand-success;}
.bg_info {background-color: @brand-info;}
.bg_warning {background-color: @brand-warning;}
.bg_danger {background-color: @brand-danger;}
.bg_white {background-color: #fff;}