<p>
向任意HTML元素设定class="r-btn"，建立一个基础按钮。通过追加格式为r-btn_{type}的class来定义其它按钮风格。内置的按钮class可以进行任意组合，从而形成更多种按钮风格。
</p>
<div class="example__title-secondary"><h3>主题</h3></div>

<button class="r-btn r-btn_primary">r-btn_primary</button>
<button class="r-btn r-btn_secondary">r-btn_secondary</button>
<button class="r-btn r-btn_success">r-btn_success</button>
<button class="r-btn r-btn_info">r-btn_info</button>
<button class="r-btn r-btn_warning">r-btn_warning</button>
<button class="r-btn r-btn_danger">r-btn_danger</button>
<button class="r-btn r-btn_link">r-btn_link</button>

<div class="example__title-secondary"><h3>不同元素</h3></div>

<button class="r-btn r-btn_primary">button element</button>
<a href="javascript:" class="r-btn r-btn_primary">a element</a>
<span class="r-btn r-btn_primary">span element</span>
<input type="button" value="input element" class="r-btn r-btn_primary">

<div class="example__title-secondary"><h3>大小</h3></div>

<button class="r-btn r-btn_primary r-btn_lg">r-btn_lg</button>
<button class="r-btn r-btn_primary">default</button>
<button class="r-btn r-btn_primary r-btn_sm">r-btn_sm</button>

<div class="example__title-secondary"><h3>幽灵按钮</h3></div>

<button class="r-btn r-btn_outline-primary">r-btn_outline-primary</button>
<button class="r-btn r-btn_outline-secondary">r-btn_outline-secondary</button>
<button class="r-btn r-btn_outline-success">r-btn_outline-success</button>
<button class="r-btn r-btn_outline-info">r-btn_outline-info</button>
<button class="r-btn r-btn_outline-warning">r-btn_outline-warning</button>
<button class="r-btn r-btn_outline-danger">r-btn_outline-danger</button>

<div class="example__title-secondary"><h3>禁用</h3></div>

<button class="r-btn r-btn_primary" disabled>disabled</button>
<button class="r-btn r-btn_secondary" disabled>disabled</button>

<div class="example__title-secondary"><h3>激活</h3></div>

<button class="r-btn r-btn_primary active">active</button>
<button class="r-btn r-btn_secondary active">active</button>

<div class="example__title-secondary"><h3>块级按钮</h3></div>

<button class="r-btn r-btn_primary r-btn_block">block</button>
<button class="r-btn r-btn_secondary r-btn_block">block</button>

