<div class="example__title-secondary"><h3>基础用法</h3></div>

<p>给input.r-checkbox__input添加checked属性设置多选框被选中。</p>
<p>给input.r-checkbox__input添加disabled属性设置多选框被禁用。</p>

<label class="r-checkbox">
    <input type="checkbox" name="tree1" class="r-checkbox__input">
    <i class="r-checkbox__icon"></i>
    <span class="r-checkbox__text">默认用法</span>
</label>

<label class="r-checkbox">
    <input type="checkbox" name="tree1" class="r-checkbox__input" checked>
    <i class="r-checkbox__icon"></i>
    <span class="r-checkbox__text">默认被选中</span>
</label>

<label class="r-checkbox">
    <input type="checkbox" name="tree1" class="r-checkbox__input" disabled>
    <i class="r-checkbox__icon"></i>
    <span class="r-checkbox__text">被禁用</span>
</label>

<label class="r-checkbox">
    <input type="checkbox" name="tree1" class="r-checkbox__input" checked disabled>
    <i class="r-checkbox__icon"></i>
    <span class="r-checkbox__text">选中被禁用</span>
</label>
