<ul class="r-page">
    <li class="r-page__item is-disabled"><a class="r-page__link" href="#">首页</a></li>
    <li class="r-page__item is-disabled"><a class="r-page__link" href="#">上一页</a></li>
    <li class="r-page__item is-active"><a class="r-page__link" href="#">1</a></li>
    <li class="r-page__item"><a class="r-page__link" href="#">2</a></li>
    <li class="r-page__item"><a class="r-page__link" href="#">3</a></li>
    <li class="r-page__item"><a class="r-page__link" href="#">下一页</a></li>
    <li class="r-page__item"><a class="r-page__link" href="#">末页</a></li>
</ul>